[Desktop Entry]
Name=Learning
Comment=Learning app
Exec=/home/chris/.cargo/bin/webviewrs -n learning -t Learning --dark https://learning.ichrisbirch.com
Icon=applications-education
Terminal=false
Type=Application
Categories=Education;
Keywords=learning;study;courses;
