[Desktop Entry]
Name=RSS
Comment=RSS feed reader
Exec=/home/chris/.cargo/bin/webviewrs -n rss -t RSS --dark http://10.0.20.17
Icon=application-rss+xml
Terminal=false
Type=Application
Categories=Network;Feed;
Keywords=rss;feed;news;
