[user]
name = Chris Birch
email = datapointchris@gmail.com

[core]
editor = code --wait
pager = delta

[advice]
addIgnoredFile = false

[merge]
# show original change, incoming change, and unchanged
conflictstyle = diff3

[credential]
helper = osxkeychain

[init]
defaultBranch = main

[pull]
rebase = false

[push]
autoSetupRemote = true

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
line-numbers = true
side-by-side = true

[diff]
colorMoved = default

[alias]
# Remove branches which have been deleted from remote
prune = fetch --prune

# undo last commit but keep staging
undo-commit = reset --soft HEAD^

# unstage selected file
unstage = restore --staged

# nice git log with graph
graph = log --graph --pretty=format:'%C(blue)%h%C(auto)%d %s %C(green)(%cr)%C(dim yellow) - %an%C(auto)'

# condensed commit history
oneline = log --oneline

# add all these changes to the last commit
last = commit --amend --no-edit --no-verify

# look at the last commit
last-commit = log -1 HEAD

# look at the changed files in commits
changes = log --pretty='short' --name-status
