[Desktop Entry]
Name=RSS
Comment=RSS feed reader
Exec=/home/chris/.local/bin/rss
Icon=application-rss+xml
Terminal=false
Type=Application
Categories=Network;Feed;
Keywords=rss;feed;news;
